/* css reset */


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ends of reset */

/* start styling */

:root {
    /* ### Primary */

    --Yellow: hsl(47, 88%, 63%);

    /* ### Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree', sans-serif;
    background-color: var(--Yellow);
    padding: 1.25em;
}

.card {
    background-color: var(--White);
    max-width: 20rem;
    border: 1.5px solid black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1.30em;
    gap: 1.5rem;
    box-shadow: 8px 8px 0px 0px black;

}

.blog-image {
    max-width: 17.4375rem;
    max-height: 12.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.category {
    background-color: var(--Yellow);
    font-weight: 800;
    max-width: 4.5rem;
    text-align: center;
    border-radius: 4px;
    font-size: 0.75rem;
    padding: 0.3em;
}

.publishdate {
    font-size: 0.75rem;
}

.title {
    font-size: 1.25rem;
    color: var(--Black);
    text-decoration: none;
    font-weight: 800;
}

.title:hover {
    cursor: pointer;
    color: var(--Yellow);
}

.description {
    font-size: 0.875rem;
    color: var(--Grey);
    font-weight: 600;
}

.author {
    max-width: 8rem;
    display: flex;
    gap: 12px;
    font-size: 0.875rem;
    align-items: center;
    font-weight: 800;
}

.author img {
    max-width: 32px;
    max-height: 32px;
    filter: grayscale(80%);
}

@media (min-width: 37.5rem){
    .card{
        max-width: 24rem;
    }

    .blog-image{
        max-width: 21rem;
    }

    .title{
        font-size: 1.5rem;
    }

    .category{
        max-width: 5.1rem;
        font-size: 0.857rem;
    }

    .publishdate{
        font-size: 0.857rem;
        font-weight: 600;
    }

    .description{
        font-size: 1rem;
    }

    .author{
        font-weight: 800;
    }


}
